* {
  margin: 0;
  padding: 0;
}

#barnav {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
}
#navbarNav {
  font-weight: bold;
}

#slogan1 {
  margin-top: 100px;
}
.banner {
  background-image: url(img/banner2.jpg);
  background-size: cover;
  background-position: center center;
  top: 100px;
  height: 100vh;
  width: 100%;
}
.spaceser1 {
  margin-bottom: 100px;
}
.b1 {
  font-size: 20px;
}
/* mobile styles */
@media only screen and (max-width: 668px) {
  .containers {
    font-size: 100%;
    margin: auto;
    margin-top: 20px;
  }
  .text-highlight {
    color: aqua;
  }
  .spaceser1 {
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 668px) {
  #trike {
    transform: scaleX(-1);
    margin-right: 100px;
    width: 500px;
    text-align: center;
  }
  .text-highlight {
    color: rgb(64, 144, 235);
  }
}

@media only screen and (max-width: 768px) {
  #trike {
    text-align: center;
    align-items: center;
  }
  #logo1 {
    align-items: center;
  }

  #foooter1 {
    margin-top: 20px;
    text-align: justify;
  }
}
