* {
  margin: 0;
  padding: 0;
}

#barnav {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
}
#navbarNav {
  font-weight: bold;
}
.container2 {
  width: 100%;
  height: 100%;
}

#slogan1 {
  margin-top: 100px;
}
.banner {
  background-image: url(img/banner2.jpg);
  background-size: cover;
  background-position: center center;
  top: 100px;
  height: 100vh;
  width: 100%;
}

.containers {
  font-size: 100;
  padding-top: 100px;
}

#trike {
  transform: scaleX(-1);
  margin-top: -75px;
}

/* mobile styles */
@media only screen and (max-width: 667px) {
  .containers {
    font-size: 100%;
    margin: auto;
    margin-top: 20px;
  }
  .text-highlight {
    color: rgb(79, 77, 255);
  }
  .b1 {
    font-size: 30px;
  }
}
/* desktop styles */
@media only screen and (min-width: 668px) {
  #trike {
    transform: scaleX(-1);
    margin-right: 100px;
    width: 450px;
    text-align: center;
    padding-top: 5em;
  }
  .containers .text {
    position: relative;
    font-size: 40px;
    font-weight: 500;
  }
  #cellphone {
    width: 600px;
  }
}

.cellbg {
  background-repeat: no-repeat;
  position: relative;
  overflow: visible;
  background-position: fixed;
  transform: scaleX(1);
}
