* {
  margin: 0;
  padding: 0;
}

#barnav {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
}
#navbarNav {
  font-weight: bold;
}
.container2 {
  width: 100%;
  height: 100%;
}

#slogan1 {
  margin-top: 100px;
}

.banner {
  background-image: url(img/bg1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: fixed;
  width: 100%;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #2613fd;
  opacity: 0.1;
  z-index: -1;
}

.containers {
  font-size: 100;
  padding-top: 100px;
}

#trike {
  transform: scaleX(1);

  mix-blend-mode: multiply;
  width: 500px;
}

/* mobile styles */
@media only screen and (max-width: 668px) {
  .containers {
    font-size: 100%;
    margin: auto;
    margin-top: 20px;
  }
  .text-highlight {
    color: rgb(79, 77, 255);
  }
  .b1 {
    font-size: 30px;
  }
  /* desktop styles */
  @media only screen and (min-width: 668px) {
    .containers .text {
      position: relative;
      font-size: 40px;
      font-weight: 500;
    }
  }
}
.cellbg {
  background-repeat: no-repeat;
  position: relative;
  overflow: visible;
  background-position: fixed;
  transform: scaleX(1);
}
